<div class="settings">
    <form [formGroup]="passwordRequestForm" (ngSubmit)="passwordHandler()">
        <h2>Enter password to gain access</h2>
        <p *ngIf="hasError" class="incorrect-password">Incorrect password</p>
        <div class="input-group">
            <p class="password">Password:</p>
            <input [ngClass]="hasError ? 'input-error-border' : ''" formControlName="password" type="password" name="" id="">
        </div>
        <button type="submit">Send</button>
    </form>
</div>