<!-- Settings-->

<div class="settings">
    <form [formGroup]="orderForm" (ngSubmit)="orderHandler()">
        <h2>Delivery Address</h2>
        <p class="input-error" *ngIf="orderFormControl().country.errors && alreadySubmitted">Country must not be empty</p>
        <div class="input-group">
            <p>Country:</p>
            <input type="text" name="" formControlName="country">
        </div>
        <p class="input-error" *ngIf="orderFormControl().city.errors && alreadySubmitted">City must not be empty</p>
        <div class="input-group">
            <p>City:</p>
            <input type="text" name="" formControlName="city">
        </div>
        <p class="input-error" *ngIf="orderFormControl().zipCode.errors && alreadySubmitted">Zip code must not be empty</p>
        <div class="input-group">
            <p>Zip Code:</p>
            <input type="text" name="" formControlName="zipCode">
        </div>
        <p class="input-error" *ngIf="orderFormControl().address.errors && alreadySubmitted">Address must not be empty</p>
        <div class="input-group">
            <p>Address:</p>
            <input type="text" name="" formControlName="address">
        </div>
        <p class="input-error" *ngIf="orderFormControl().phone.errors && alreadySubmitted">Phone must not be empty</p>
        <div class="input-group">
            <p>Phone:</p>
            <input type="text" name="" formControlName="phone">
        </div>

        <button type="submit">Submit Order</button>
    </form>
</div>