*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 85%;
    margin: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    border-radius: 7px;
}

@media(max-width: 768px){
    .container{
        width: 90%;
    }
}