<div class="product">
  <img
    src="assets/img/682257363.xiaomi-redmi-note-9-pro-128gb-6gb-ram-dual.jpg"
    alt=""
  />

  <div class="info">
    <h3>{{ name }}</h3>
    <a [routerLink]="['/products', id, 'details']" class="details">Details</a>
  </div>

  <div class="order">
    <p>${{ price }}</p>
    <form *ngIf="availableProducts > 0" class="cart" [formGroup]="cartForm" (ngSubmit)="addToCart()">
      <input
        type="text"
        name=""
        id=""
        placeholder="Quantity"
        min="1"
        formControlName="quantity"
      />
      <button type="submit"><i class="fas fa-shopping-cart"></i></button>
    </form>

    <p *ngIf="isAdmin()" class="available">Available: {{ availableProducts }}</p>
    
    <p *ngIf="!isAdmin() && availableProducts < 1" class="out-of-stock">Not Available</p>
  </div>
  
</div>

<!-- <router-outlet></router-outlet> -->
