.no-product {
  margin: 2.5rem auto;
  text-align: center;
  color: red;
  font-size: 1.8rem;
}

/* pages info section */

.pages-info {
  margin-top: 1rem;
  color: white;
  background-color: black;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  text-align: center;
}

/* pages */

::ng-deep .ngx-pagination {
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    position: relative;
}

::ng-deep .ngx-pagination li{
    margin: 0 0.2rem;
    margin-bottom: 3rem;
}

::ng-deep .ngx-pagination span{
    padding: 0.3rem;
}

::ng-deep .ngx-pagination .current{
    border-radius: 3px;
    background-color: red;
}


