
    <h1 class="no-product" *ngIf="products.length === 0">There are no products available.</h1>
    
    <p class="pages-info" *ngIf="products.length > 0">{{products.length}} product(s),<span> {{totalPages}} page(s)</span></p>

    <div class="product-list">
        <app-single-product *ngFor="let product of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" [productId]="product.id" [productName]="product.name" [productPrice]="product.price.toFixed(2)" [availableProducts]="product.availableInStock"><ng-content></ng-content></app-single-product>
    </div>

    <div>
        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
    </div>