
/* details section */

.details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 3rem;
  background-color: #eee;
  padding: 0.5rem;
  grid-gap: 20px;
}

.details img {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.content {
  position: relative;
}

.content h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.1rem;
}

.description p {
  margin-bottom: 0.5rem;
}

.order {
  margin: auto;
  text-align: center;
}

.order .price {
  font-size: 2.2rem;
}

.order .cart {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
}

.order input {
  height: 40px;
  width: 90px;
  padding: 0 0.7rem;
  font-size: 1rem;
}

.order input{
  border: 1px solid #115aa3;
  border-radius: 7px;
}

.order button {
  font-size: 2.1rem;
  margin-left: 1.5rem;
  color: #115aa3;
  border: none;
}

.order button:hover{
  color: #5f86ed;
  cursor: pointer;
}

.edit-item {
  background-color: #115aa3;
  margin: 2rem auto;
  border-radius: 7px;
  font-size: 1.6rem;
  width: 20%;
  text-align: center;
}

.edit-item a {
  color: white;
  padding: 0.5rem;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.edit-item a:hover {
  background-color: #5f86ed;
  transition: all 0.2s ease-in;
}

/* media */

@media (max-width: 1100px) {
  .edit-item {
    width: 25%;
  }
}

@media (max-width: 900px) {
  .details img {
    width: 250px;
    height: 250px;
  }

  .order {
    text-align: left;
    margin: 0;
    margin-top: 1rem;
  }

  .order .cart {
    display: inline-block;
  }

  .order a {
    margin-left: 0.5rem;
  }

  .order input {
    height: 45px;
  }

  .edit-item {
    position: absolute;
    right: 10%;
    top: 70%;
    width: 30%;
  }
}

@media (max-width: 800px) {
  .details {
    grid-template-columns: 1fr;
  }

  .details img {
    text-align: center;
    margin: auto;
  }

  .order {
    text-align: left;
  }
}
