<form [formGroup]="updateForm" (ngSubmit)="updateProduct()" id="upload-form">
  <h2>Edit Product</h2>

  <p *ngIf="errors && errors.name" class="input-error">{{errors.name}}</p>
  <div class="input-section">
    <input
      type="text"
      name=""
      id=""
      placeholder="Product name"
      formControlName="name"
    />
    <div class="input-icon"></div>
    <!-- <i class="fas fa-check-circle check"></i> -->
  </div>
  <p *ngIf="errors && errors.price" class="input-error">{{errors.price}}</p>
  <div class="input-section">
    <input
      type="text"
      name=""
      id=""
      placeholder="Price"
      formControlName="price"
    />
    <div class="input-icon"></div>
    <!-- <i class="fas fa-times-circle error"></i> -->
  </div>

  <p *ngIf="errors && errors.availableInStock" class="input-error">{{errors.availableInStock}}</p>
  <div class="input-section">
    <input
      type="text"
      name=""
      id=""
      placeholder="Quantity"
      formControlName="availableInStock"
    />
    <div class="input-icon"></div>
    <!-- <i class="fas fa-times-circle error"></i> -->
  </div>

  <p *ngIf="errors && errors.description" class="input-error">{{errors.description}}</p>
  <div class="input-section">
    <textarea
      placeholder="Product Description"
      formControlName="description"
    ></textarea>
  </div>

  <div class="custom-file mb-4 mt-2 bs-group">
    <input type="file" name="file" class="custom-file-input" id="customFile" disabled />
    <label class="custom-file-label" for="customFile">Choose File</label>
  </div>

  <div class="button-group">
    <button type="submit" id="upload-button">
      Edit Product <i class="fas fa-file-upload"></i>
    </button>
  </div>
</form>

<script>
  $("#customFile").on("change", function () {
    //get the file name
    var fileName = $(this).val();
    //replace the "Choose a file" label
    $(this).next(".custom-file-label").html(fileName);
  });
</script>
